
/*------------------------------------------------*/
/*	Author: Chris Landeza
/*------------------------------------------------*/


/*------------------------------------------------*/
/* Override Element Style
/*------------------------------------------------*/
body {
    width: 100%;
    height: 100%;
    background: #C7642D url("../img/top-bg.jpg") no-repeat center right fixed;
    background-size: cover;
    font-family: "Raleway";
    font-weight:200;
    color: #434242;
    line-height: 1.64;
    font-size:15px;
}

body:after{
    display:none;
    content: url(../img/top-bg.jpg);
}

html{
    width: 100%;
    height: 100%;
}



h2, h3, h4{
    font-family: "Nashville";
    font-weight: 200;
    color:#cb784a;
    
}

h3{
    font-size: 28px;
}

dl dt{
    color: #738F9B;
    
}

dl dd{
    font-weight:normal;
}




/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.full-height{
    min-height: 100%;
    padding-top: 100px;
    height: auto;
    
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#navigation{
    z-index: 999;
    margin: 0px;
}

/*------------------------------------------------*/
/*	Scrollbar Style
/*------------------------------------------------*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}


/*------------------------------------------------*/
/*	Utility Classes
/*------------------------------------------------*/



.heading{
  
    font-family: "Nashville";
    font-weight: 200;
    font-size: 54px;
    color:#cb784a;
    text-align: center;
}

.invi{
   visibility: hidden;
}


p.lead{
    color:#727878;
    font-family: "Nashville";
    font-weight: 200;
}

hr{
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
}

/*------------------------------------------------*/
/*	Profile Styles
/*------------------------------------------------*/
#profile{
    background-color: #fff;
    /* Pull-up the about section to fill the gap when the nav-bar collapse */
    margin-top: -40px;
}

#profile img{
    width:100%;
    max-width:246px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 20px solid #F4DEBE;
}


/*------------------------------------------------*/
/*	Animation Cofig. for Profile
/*------------------------------------------------*/


#experiences{
    background-color: #F4DEBE;
}


/*------------------------------------------------*/
/*	Header Styles
/*------------------------------------------------*/
#home{
    display: table;
    vertical-align: middle;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
    min-height: 100%;
    height: auto;
    text-align: center;
}

.center-div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#home .btn {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 14px 24px;
}

@media (min-width: 768px) {
    #home .btn {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-right: 20px;
    }
}

#home .right{
    padding-top:3em;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

#home .left{
    padding-left: 15px;
    padding-right: 15px;
}

#home h1{
    font-size: 3.5em;
    font-family: "Nashville";
    font-weight: bold;
    margin-bottom: 0;
}

#home p {
  font-size: 1.5em;
  margin-bottom: 45px;
  line-height: 1.4;
}


.avatar{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 20px solid rgba(0, 0, 0, 0.1);
    
   
}

.avatar img {
    /* we can't use percentage value for image with border-radius */
    -webkit-border-radius: 225px;
    -moz-border-radius: 225px;
    -ms-border-radius: 225px;
    -o-border-radius: 225px;
    border-radius: 225px;
    width: 100%;
    margin: 0 auto;
}

/* Header Styles end */




/*------------------------------------------------*/
/* Navigation styles
/*------------------------------------------------*/
.brand {height: 25px; margin-top:-6.5px; margin-right:2px;}
.navbar-brand{
    font-size:18px;
    font-family: "Nashville";
    font-weight: 200;
    
}

/* navbar */
.navbar-default {
    background-color: #C7642D;
    border: none;
    
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #cb784a;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #cb784a;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #C13100;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}




/*------------------------------------------------*/
/*	Fonts
/*------------------------------------------------*/
@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(Raleway-Light.otf);
    font-weight: 200;
}


@font-face {
    font-family: "Raleway";
    src: url(Raleway-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url(Raleway-Regular.otf);
    font-weight: normal;
   
}


/*------------------------------------------------*/
/*	Animation Cofig. Home
/*------------------------------------------------*/
.avatar{
   /* Input Delays or duration here */
}

.home-heading{
     -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.home-subheading{
     -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.home-buttons{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

