
/*!
 * (http://chrislandeza.com)
 * Copyright 2014 Chris Landeza.
 */

/*------------------------------------------------*/
/* Override Element Style
/*------------------------------------------------*/
body {
    width: 100%;
    height: 100%;
    background: #C7642D url("../img/bg.jpg") no-repeat center right fixed;
    background-size: cover;
    font-family: "Raleway";
    font-weight:200;
    color: #434242;
    line-height: 1.64;
    font-size:15px;
}

body:after{
    display:none;
    content: url(../img/top-bg.jpg);
}

html{
    width: 100%;
    height: 100%;
}



h2, h3, h4{
    font-family: "Nashville";
    font-weight: 200;
    color:#cb784a;
    
}

h3{
    font-size: 28px;
}

dl dt{
    color: #738F9B;
    
}

dl dd{
    font-weight:normal;
}

/*------------------------------------------------*/
/*	Fonts
/*------------------------------------------------*/
@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Nashville';
    src: url(Nashville_Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(Raleway-Light.otf);
    font-weight: 200;
}


@font-face {
    font-family: "Raleway";
    src: url(Raleway-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url(Raleway-Regular.otf);
    font-weight: normal;
   
}



/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.full-height{
    min-height: 100%;
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}



#navigation{
    z-index: 999;
    margin: 0px;
}

/*------------------------------------------------*/
/*	Scrollbar Style
/*------------------------------------------------*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}


/*------------------------------------------------*/
/*	Utility Classes
/*------------------------------------------------*/

.fancy-quotes{
    min-height: 30%;
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px;
}

.wrap {
    max-width: 20%;

}


.fa-star{
    color:#C7642D;
}
.fa-asterisk{
    color:#C7642D;
    font-size: 12px;
}

.img-centered{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.heading{
    font-family: "Nashville";
    font-weight: 200;
    font-size: 54px;
    color:#cb784a;
    text-align: center;
    
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.invi{
   visibility: hidden;
}


p.lead{
    color:#727878;
    font-family: "Raleway";
    font-weight: normal;
    color:#727878;
}

hr{
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
}

/*------------------------------------------------*/
/*	Profile Styles
/*------------------------------------------------*/
#profile{
    background-color: #fff;
    /* Pull-up the about section to fill the gap when the nav-bar collapse */
    margin-top: -40px;
}

#profile .container{
    max-width: 1280px;
    padding: 0px 150px;
}

@media (max-width: 767px) { 
    #profile .container{ 
        padding: 60px 20px; min-width: 280px;
    }
    
}

#profile img{
    width:100%;
    max-width:246px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 20px solid #F4DEBE;
    
}

@media (max-width: 767px){
    #profile .row * {
        text-align: center;
    }
}
   


//****	Animation Cofig. Profile ****/

#profile .row > div:nth-child(1){
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
#profile .row > div:nth-child(2){
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
#profile .row > div:nth-child(3){
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}









/*------------------------------------------------*/
/*	Experiences Styles
/*------------------------------------------------*/
#experiences{
    background-color: #F3EFE0;
}

#experiences #education{
    max-width: 1280px;
    padding: 0px 100px;
}

@media (max-width: 767px) { 
    #experiences #education{ 
        padding: 60px 20px; min-width: 280px;
    }
    
}



#education > div:nth-child(1){
    
}
#education > div:nth-child(2){
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
#education > div:nth-child(3){
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}


#education .experience { margin-bottom: 20px;}
#education .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#education .experience .experience-details { display: block; margin-top: 6px; }
#education .experience .experience-details * { color: #738F9B; }
#education .experience .experience-details .seperator { color: #BCBCBC; }



#xp-careers > div:nth-child(1){
     -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

/*------------------------------------------------*/
/*	abilities Styles
/*------------------------------------------------*/
#abilities{
    background-color: #fff;
    /* Pull-up the about section to fill the gap when the nav-bar collapse */
    margin-top: -40px;
}

#abilities .container{
    max-width: 1280px;
    padding: 0px 150px;
}

@media (max-width: 767px) { 
    #abilities .container{ 
        padding: 60px 20px; min-width: 280px;
    }
    
}

.ability-list li{
    padding:2px;
}

.ability-list li:hover{
    background-color: #F2F2F2;
}

.ability-list > li > .ability-label{
    display: inline-block;
    width:65%;
    font-weight: normal;
}

.ability-list > li > .ability-rating{
    float:right;
}

.ability-rating > span{
    color:#C7642D;
    margin-right: 3px;
}

/*------------------------------------------------*/
/*	Header Styles
/*------------------------------------------------*/
#home{
    display: table;
    vertical-align: middle;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
    min-height: 100%;
    height: auto;
    text-align: center;
}

.center-div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#home .btn {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 14px 24px;
}

@media (min-width: 768px) {
    #home .btn {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-right: 20px;
    }
}

#home .right{
    padding-top:3em;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

#home .left{
    padding-left: 15px;
    padding-right: 15px;
}

#home h1{
    font-size: 3.5em;
    font-family: "Nashville";
    font-weight: bold;
    margin-bottom: 10px;
}

#home p {
  font-size: 1.5em;
  margin-bottom: 45px;
  line-height: 1.4;
}


.avatar{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 20px solid rgba(0, 0, 0, 0.1);
    
   
}

.avatar img {
    /* we can't use percentage value for image with border-radius */
    -webkit-border-radius: 225px;
    -moz-border-radius: 225px;
    -ms-border-radius: 225px;
    -o-border-radius: 225px;
    border-radius: 225px;
    width: 100%;
    margin: 0 auto;
}



/****	Animation Cofig. Home ****/
.avatar{
   /* Input Delays or duration here */
}
.home-heading{
     -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.home-subheading{
     -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.home-buttons{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

/* ********************* Home Styles end *******************/




/*------------------------------------------------*/
/* Navigation styles
/*------------------------------------------------*/
.brand {height: 25px; margin-top:-6.5px; margin-right:2px;}
.navbar-brand{
    font-size:18px;
    font-family: "Nashville";
    font-weight: 200;
    
}

/* navbar */
.navbar-default {
    background-color: #C7642D;
    border: none;
    
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #cb784a;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #cb784a;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #C13100;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}








/*------------------------------------------------*/
/*	Timeline Styles
/*------------------------------------------------*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}



    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #E5B267; /* Line Color */
        left: 50%;
        margin-left: -1.5px;
    }
    
    
    .timeline > li:first-child{
        margin-top: -40px; /* Pull-up the circle badge so we dont have extra line */
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%; /* The width of the panel  (Note: the margin of panel from the timeline will also based on this width )*/
            float: left;
            border: 1px solid #E5B267;  /* Panel Border Color */
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before{
                position: absolute;
                top: 10px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #E5B267; /* Arrow border  Color */
                border-right: 0 solid #E5B267; /* Arrow border  Color */
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after{
                position: absolute;
                top: 11px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #F3EFE0; /* Arrow background Color */
                border-right: 0 solid #F3EFE0; /* Arrow background Color */
                border-bottom: 14px solid transparent;
                content: " ";
            }
            
            .timeline-company{
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight:bold;
                margin-top: 0;
                margin-bottom: 0;
                color:#3170CA;
            }
            .timeline-position{
                font-family: "Nashville";
                font-weight: 600;
                margin-top: 0;
                font-size: 16px;
            }
            .timeline-date{
                color:#738F9B;
            }

        .timeline > li > .timeline-badge {
            color: #fff; /* Icon Color */
            font-weight:200;
            font-family: "Raleway";
            width: 20px;
            height: 20px;
            line-height: 50px;
            font-size: 1em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -9.9px;
            background-color: #E5B267; /* Icon BG Color */
            border: 5px solid #F3EFE0;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body{
    margin-top:10px;
    font-family: "Raleway";
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 30px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}